<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetis Prediction</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static '/vendors/boxicons/css/boxicons.css' %}">
    <link rel="stylesheet" href="{% static '/vendors/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <script src="{% static '/vendors/jquery/jquery.js' %}"></script>
</head>
<body>

    <div class="lgca-container">
        {% csrf_token %}
        <form action="/create/user/acc" id="createAccount" method="post">
            <div class="header">
                <h4>Create Acount</h4>
            </div>
            <div class="form-col">
                <input type="text" name="username" placeholder="Username" class="required" id="username">
            </div>
            <b class="err-div hidden" id="usernameErr">
               <span class="bi bi-exclamation-triangle-fill"></span> Enter a valid name
            </b>
            <div class="form-col">
                <input type="email" name="email" placeholder="Email" class="required" id="Email">
            </div>
            
            <div class="form-col">
                <input type="password" name="password" placeholder="Password" class="required" id="password">
            </div>
            <div class="form-col">
                <input type="password" name="confirmPassword" placeholder="Confirm Password" class="required" id="confirmPassword">
            </div>
            <b class="err-div hidden" id="passwordError">
               <span class="bi bi-exclamation-triangle-fill"></span> Passwords Dont Match
            </b>
            <br>
            <button class="submit-form">
                Create Account
            </button>
        </form>
    </div>
    
</div>


    <script src="{% static '/vendors/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static '/vendors/aos/aos.js' %}"></script>
    <script src="{% static '/js/getCookies.js' %}"></script>
    <script src="{% static '/js/handleCreateAccount.js' %}"></script>
</body>
</html>